.dashboard-section {
  height: 100%;
  width: 100%;
  margin: 30px;
}

.dashboard-section h3 {
  font-size: 20px;
  color: white;
  text-wrap: nowrap;
  padding-left: 10px;
}

.dashboard-content {
  display: flex; /* Use flexbox for layout */
}

.dashboard-row,
.dashboard-row2 {
  flex: 1; /* Allow the rows to grow and take up remaining space */
  height: auto; /* Adjust height to auto */
  margin: 0 1rem; /* Add margin to the sides */
}

.dashboard-row {
  max-width: 250px; /* Set a max width for the sidebar */
}

.dashboard-row2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 1rem;
}

@media screen and (min-width: 280px) and (max-width: 1080px) {
  .dashboard-section {
    height: max-content;
  }

  .dashboard-grid {
    grid-template-columns: 1fr;
    padding: 1rem;
    height: max-content;
  }

  .dashboard-row,
  .dashboard-row2 {
    grid-template-columns: 1fr;
  }
}
