.dashboard-section {
    height: 100%;
    width: 100%;
    background-color: #002147;

  }
  
  .dashboard-grid {
    padding: 2rem;
    padding-top: 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }
  
  .dashboard-row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
  }
  
  .dashboard-row2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
  }
  
  @media screen and (min-width: 280px) and (max-width: 1080px) {
    .dashboard-section {
      height: max-content;
    }
    
    .dashboard-grid {
      grid-template-columns: 1fr;
      padding: 1rem;
      height: max-content;
    }
  
    .dashboard-row,
    .dashboard-row2 {
      grid-template-columns: 1fr;
    }
  }
  