.sidebar {
  background-color: #09064b;
  height: auto;
  width: max-content;
  padding: 2rem;
  padding-top: 0rem;
  display: flex;
  flex-direction: column;
}
svg {
  color: var(--primary-color);
  font-size: 1.5rem;
  
}

.imgbar {
  
  margin-bottom: 10px;
  width: 200px;
  height: 180px;
}
.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
  li {
    border-radius: 1rem;
    padding: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: small;
    color: white;
    svg {
      color: white;
      font-size: 2rem;
    }
    &:hover {
      box-shadow: 0 0 15px 2px var(--primary-color);
      svg {
        color: var(--primary-color);
      }
    }
  }
  .selected {
    box-shadow: 0 0 15px 2px var(--primary-color);
    svg {
      color: var(--primary-color);
      background-color: transparent;
    }
  }
}
.hamburger-menu {
  display: none;
  cursor: pointer;
}
.hamburger-menu div {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}
@media screen and (max-width: 768px) {
  .sidebar {
    background-color: var(--dark-background-color);
    margin: 0%;
    height: 90%;
    width: 100%;
    padding: 4rem;
    padding-top: 1rem;
    display: flex;
    border-radius: 0px;
  }
  .links {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
}
