.imgT {
  width: 20px;
  height: 40px;
}

.title-container {
  margin-bottom: 1rem;
}

.title {
  display: flex;
  justify-content: space-between;
}

.title svg {
  color: var(--primary-color);
  font-size: 1.3rem;
  cursor: pointer;
}

.chart {
  height: 13rem;
}

.recharts-default-tooltip {
  background-color: var(--dark-background-color) !important;
  border: none !important;
  border-radius: 1rem;
  box-shadow: 0 0 60px 8px var(--primary-color);
}

@media screen and (min-width: 280px) and (max-width: 1080px) {
  .title {
    flex-direction: column;
    align-items: center;
  }

  .title svg {
    margin-top: 0.5rem;
    font-size: 1rem;
  }

  .chart {
    height: 10rem;
  }
  
  .recharts-default-tooltip {
    font-size: 0.8rem;
    box-shadow: 0 0 30px 4px var(--primary-color);
  }
}
