@import url("https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500&display=swap");

:root {
  --primary-color: #1511fd;
  --background-color: #14116C;
  --dark-background-color: #04006c;
  --font: "Exo", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url('/src/assets/imgs/bg1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--font);
  height: max-content;

  
}

::-webkit-scrollbar {
}

::-webkit-scrollbar-thumb {
}
